body {
  background: black;
}

.carousel-container {
  margin-top:50px;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #000 0%, #868686  50%, #000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000 0%, #868686  50%, #000 100%);
  border-image: linear-gradient(to right, #000 0%, #868686  50%, #000 100%);
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: 0px -31px 43px -38px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px -31px 43px -38px rgba(255,255,255,0.75);
  box-shadow: 0px 25px 90px -38px rgba(255,255,255,0.75), 0px -25px 90px -38px rgba(255,255,255,0.75);

  .slide {
    img {
      visibility: hidden;
    }
  }
}

.button-board {
  text-align: center;
  button {
    margin-top: 5px;
    color: #fff;
    //background-color: #949494;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(77,77,77,1) 25%, rgba(71,71,71,1) 39%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 51%, rgba(38,38,38,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(77,77,77,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(51,51,51,1)), color-stop(51%, rgba(41,41,41,1)), color-stop(60%, rgba(38,38,38,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(77,77,77,1) 25%, rgba(71,71,71,1) 39%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 51%, rgba(38,38,38,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(77,77,77,1) 25%, rgba(71,71,71,1) 39%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 51%, rgba(38,38,38,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(77,77,77,1) 25%, rgba(71,71,71,1) 39%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 51%, rgba(38,38,38,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(77,77,77,1) 25%, rgba(71,71,71,1) 39%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 51%, rgba(38,38,38,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    box-shadow: inset 0px 6px 2px -4px rgba(255,255,255,0.7), inset 0px -6px 7px -4px rgba(255,255,255,0.2);
    border-radius: 2px;
    &:hover {
      color: #ebebeb;
    }
  }
}

.carousel-indicators li {
  width: 35px;
  height: 5px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.carousel-indicators .active {
  width: 37px;
  height: 7px;
}